{% extends 'base.html' %}

{% block title %}
База современной эпиграфики
{% endblock %}

{% block body %}
    <div class="row py-lg-5" align="center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="font-weight-light">Бла бла бла, спасибо </h1>
        <p class="lead text-muted">какойто текст</p>
        <p>
          <a href="/add_graffito" class="btn btn-primary my-2">загркзить еще одно</a>
          <a href="/" class="btn btn-secondary my-2">смотртеь все </a>
        </p>
      </div>
    </div>
{% endblock %}