{% extends 'base.html' %}

{% block title %}
База современной эпиграфики
{% endblock %}

{% block body %}
<div class="container-xl">
              <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="align-content: center; color: #000000">
                    <h1 class="col-md-8 fs-4">Русские граффити</h1>
                    <p class="col-md-8 fs-4 lead">Наш проект посвящён цифровому сохранению стрит-арта.
Граффити, муралы и надписи-тэггинги часто появляются на улицах наших городов, – и почти так же часто исчезают. Под воздействием погоды, времени и доблестных коммунальных служб пропадают произведения искусства.
Но чаще всего стрит-арт работа, даже если существует в оффлайновой реальности всего несколько часов, навсегда попадает в интернет и становится объектом цифрового культурного наследия.</p>
              </div>

    <img src="https://pbs.twimg.com/media/E0DIiLGXoAACP7m.jpg" class="img-fluid" alt="навальный">
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="color: #000000">
                <p class="col-md-8 fs-4 lead">Мы создали краудсорсинговый платформу, чтобы собирать и хранить стрит-арт картины и надписи.
Присылайте нам через <a href="/add_graffito">форму</a> всё:
                <ul class="col-md-8 fs-4 lead">
                    <li>что нарисовано на стенах, заборах, торцах домов;</li>
                    <li>что вы считаете искусством: граффити своего двора и района, свои собственные работы;</li>
                </ul>
                <p class="col-md-8 fs-4 lead">Постарайтесь указывать точный адрес!</p>
              </div>
</div>
{% endblock %}